html {
  margin-bottom: 100px;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4d6cc;
}

header {
  background-color: #64170f;
  color: white;
  text-align: center;
  padding: 1em;
}

.title {
  color: #d35400;
  padding: 4px;
  border-radius: 6px;
  box-shadow: 0px 16px 15px 0px rgb(247 138 138 / 36%);
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #e74c3c; /* Dark orange navigation bar */
  padding: 0.5em;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #64170f; /* Lighter orange on hover */
}

.social-icons {
  display: flex;
}

.social-icons div {
  color: #3498db; /* Blue F icon */
  margin-right: 10px;
}

.social-icons span {
  color: #fff; /* White X icon */
  margin-right: 10px;
}

.social-icons a:hover {
  color: #c0392b;
}

.order-status {
  flex: 0 0 40%;
  margin: 1em;
  padding: 1em;
  background-color: white;
  border: 2px solid #f2c8b9;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

footer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #64170f; /* Dark orange footer */
  color: white;
  padding: 1em;
  bottom: 0;
}

form label {
  font-weight: bold;
}

form label,
form select,
form button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.order-box {
  display: flex;
  justify-content: space-evenly;
  margin: 1em;
  padding: 1em;
}

form input,
form select {
  padding: 10px;
  font-size: 16px;
  border: 3px solid #f2c8b9; /* Coral border */
  border-radius: 5px;
}

form button {
  background-color: #64170f; /* Dark orange button */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button {
  background-color: #64170f; /* Dark orange button */
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

form button:hover {
  background-color: #e67e22; /* Lighter orange on hover */
}

button:hover {
  background-color: #e67e22; /* Lighter orange on hover */
}

a {
  color: inherit;
  text-decoration: none;
}

.social-icons {
  display: flex;
}

.social-icons a {
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
  color: azure;
  cursor: pointer;
}

.social-icons a:hover {
  background-color: #e67e22;
}

.copyright {
  padding-right: 30px;
}

img {
  margin: 15px 0;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
