<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
    <style>
      body {
        width: 100vw;
        margin: 0;
        padding: 0;
      }
      main {
        display: flex;
      }
      nav {
        flex: 1;
        height: 7.5vh;
        background-color: #ff6400;
        color: #ffffff;
        position: sticky;
        top: 0;
      }
      div {
      }
      .sidebar {
        background-color: #ff660087;
        color: #ffff;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        /* align-items: center; */
        flex: 1;
        position: sticky;
        top: 7.5vh; /* same as nav's height */
        height: 92.5vh;
        padding: 10px 10px 0 10px;
      }

      a {
        text-decoration: none;
        color: inherit;
        padding: 0 10%;
        margin: 1% 0;
        font-weight: bold;
        font-size: large;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid #ffd7bc;
        border-radius: 15px;
      }

      a:hover {
        background-color: #ffd7bc;
        border-radius: 15px;
        color: #ff6400;
      }
      a.active {
        background-color: #ffd7bc;
        border-radius: 30px;
        color: #ff6400;
      }

      .main-wrapper {
        flex: 4;
        overflow-y: scroll;
        scrollbar-color: none;
        padding: 10px;
        color: #ff6400;
        text-align: justify;
      }

      img {
        height: 40px;
        width: 40px;
      }
    </style>
  </head>
  <body>
    <nav></nav>
    <main>
      <div class="sidebar">
        <p>Hello <%= user.name  %></p>
        <a class="active" href="open-orders"
        ><img src="open-order.png" alt="Open Order" />
        <p>Open Orders</p></a
      >
        <a href="/ongoing-delivery">
          <img
            src="motorbike.png"
            alt="Ongoing Delivery"
          />
          <p>Ongoing Delivery</p></a
        >
       
        <a href="my-deliveries"
          ><img src="delivery.png" alt="My Deliveries" />
          <p>My Deliveries</p></a
        >
      </div>
      <div class="main-wrapper">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid
        tempore voluptatibus ipsum itaque fuga fugit quas tenetur vitae impedit!
        Sunt voluptatum possimus similique. Ab, quaerat culpa tempore, sit
        facere quas minus laboriosam ullam officiis eius fugiat aliquid
        consectetur inventore nostrum. Sequi cum numquam, ex id tempora
        repudiandae quo fugit, vel sunt molestiae dolorem, autem in. At
        quibusdam ex eveniet dicta ducimus fugit aspernatur! Hic nihil natus
        cumque veniam eligendi. Commodi delectus facilis, voluptates, voluptatem
        dolorem quam fuga ea numquam eligendi repellendus cum error
        exercitationem rerum? Incidunt culpa fugiat delectus. Ab unde incidunt
        animi rem nulla velit eaque exercitationem eius possimus autem molestiae
        excepturi sit vero officiis adipisci ipsam nesciunt perferendis tempore
        facere dolores sed, nobis iure recusandae mollitia. Eum quia obcaecati
        delectus cum veniam, aut deserunt rerum sapiente facere porro aliquam ad
        recusandae? Quaerat impedit sit blanditiis error quisquam illo tempora,
        eaque aut quos. Fugiat labore saepe molestias quas accusamus iste quos?
        Nemo quam eligendi rerum modi natus, ipsam ex, fuga praesentium
        molestiae, eius placeat voluptate? Molestiae adipisci omnis voluptate
        perferendis! Consequatur ipsa ut accusamus facilis nobis molestias
        dolorum, corporis consequuntur, aliquid nihil natus voluptate ipsum
        sequi. Quisquam molestias impedit deserunt vero, aliquid voluptates
        tenetur, repellendus, amet quis rem sit? Eos maxime facere optio
        adipisci id, dolores expedita debitis quod quos quas perferendis velit
        aliquid voluptas odit consequuntur sequi fuga hic dolor ab illum et
        ipsam cupiditate? Rerum fugit quam consequatur architecto explicabo
        tempore laudantium voluptatibus repellendus recusandae atque! Minus, sit
        doloremque tenetur mollitia aspernatur explicabo quia ad, ullam dolorem
        incidunt perspiciatis rerum possimus eum dignissimos sunt tempora nemo
        odio laudantium rem aut, neque in sint nihil ut? Dignissimos deleniti,
        totam hic delectus mollitia id impedit ut minus sapiente. Similique,
        autem mollitia inventore expedita asperiores vero aut ex ducimus eaque,
        labore, omnis iste deleniti tempore sunt fugiat commodi. Nihil ex cumque
        debitis numquam a velit molestiae, at, alias et vel, commodi aspernatur
        nulla. Nisi excepturi autem ducimus officiis dolor? Ut officiis
        accusantium saepe asperiores sed, possimus sapiente nihil impedit
        tempora, illo laudantium odit sequi doloremque perferendis ipsa
        cupiditate fugiat dicta deserunt cum placeat consectetur amet doloribus
        maiores pariatur! Eligendi itaque repellat commodi cupiditate sed saepe.
        Magni, accusantium recusandae? Reiciendis placeat mollitia molestias
        corporis ad esse provident perferendis minus magni labore saepe nostrum
        architecto quia debitis facilis optio vel aliquam, natus culpa, a
        similique aperiam, ab fuga incidunt! Itaque, praesentium quae sunt
        eveniet quas non iste nostrum possimus dicta earum nulla perspiciatis
        nihil voluptates beatae dolore laboriosam corrupti sit consequuntur
        autem accusantium? A ut tempore expedita vel optio dolorem, ex adipisci
        quam debitis nulla placeat magni. Amet distinctio, neque odio officiis
        consectetur, dignissimos velit excepturi qui fugit vel at commodi eos
        minus? Natus beatae, atque, iste perspiciatis laborum assumenda maiores
        ullam, aspernatur unde velit qui dolorem laudantium consectetur?
        Doloribus sunt adipisci at rem, vero expedita? Alias vitae repellat ab
        delectus libero quis atque itaque? Ratione incidunt, quam quas numquam
        distinctio rem quod error soluta unde in ut sit, aliquid dignissimos
        similique! Qui quod placeat nam tenetur? Dolorum et repellat dicta
        aspernatur cumque illo, ullam in nam neque quasi magni quis dignissimos!
        Ad, eum suscipit, enim temporibus tempore cumque nesciunt doloremque
        aliquid odio magnam ipsam facere asperiores deleniti ducimus vero,
        reprehenderit perspiciatis magni explicabo impedit repellendus nisi
        voluptas! Ex voluptas libero rerum odit nam illum quasi tenetur. Aliquam
        quo, ratione labore reprehenderit accusamus illum non ullam quis!
        Quaerat, hic eius. Non est ab, harum laborum beatae, dolore magnam
        praesentium dicta dolor sapiente fugit. Nam asperiores enim facilis,
        modi soluta explicabo, voluptatibus, illo voluptatem dolore neque beatae
        esse? Sapiente aspernatur recusandae itaque beatae fuga veniam impedit
        et voluptate quaerat accusamus atque, veritatis deserunt praesentium
        laudantium. Porro delectus voluptatem quis ducimus asperiores reiciendis
        distinctio hic sequi aliquam laudantium, perferendis ea culpa soluta
        tempora et magni doloribus corporis perspiciatis. Tempora, eius
        excepturi. Ullam maiores quae alias est delectus repellat. Harum
        deleniti, architecto minima ea quod ad, cupiditate voluptates fuga iusto
        dolorem in odit consequuntur facere voluptatem iste quam omnis tenetur
        laudantium, sequi neque earum! Similique aspernatur necessitatibus
        voluptate eligendi corrupti veritatis ab pariatur minima qui quod amet
        nobis, sunt sit doloribus iste et at voluptates. Laborum quod at
        provident. Eos veritatis accusantium voluptatum, quaerat unde laborum
        placeat tenetur temporibus voluptas. Corporis, accusantium, veniam harum
        quibusdam omnis placeat sequi facere culpa, perferendis provident animi
        ab ad deserunt nostrum expedita minima consectetur adipisci repellat
        eaque quasi? Consectetur vel architecto porro corrupti, optio dolorum
        quisquam quia sunt, id eveniet molestias praesentium. Veritatis, quod
        eos. Impedit perspiciatis accusamus, aliquid itaque a assumenda quidem
        quam. Veritatis, quae qui autem numquam magnam doloremque ab, minima
        tempora itaque sit dignissimos omnis ullam cum? Placeat, est eum? Velit
        pariatur officiis impedit unde laboriosam voluptatum voluptatibus ex
        ipsum. Exercitationem libero aperiam fugit quisquam enim itaque omnis
        aliquam minima magni ut, quasi est. Amet hic dicta ut error, quis
        delectus esse alias repellat et tempore aliquam perferendis suscipit eos
        itaque soluta voluptatum! Officiis, excepturi itaque perferendis debitis
        dolor quis vitae nesciunt ex. Magnam voluptatum animi cum. Corrupti
        dicta eveniet labore esse tenetur, ut, exercitationem deleniti vero
        aliquid alias enim ex blanditiis numquam eos maxime id iusto deserunt
        quisquam voluptates aspernatur, vitae reprehenderit voluptate? Quia quos
        cumque voluptatibus, omnis modi accusamus dolorum aspernatur veritatis.
        Assumenda accusamus sed omnis sunt, sit, distinctio beatae sapiente
        laudantium fuga at rerum exercitationem quam, saepe iste nostrum maxime
        aliquid dicta ex soluta laboriosam error illo. Culpa unde aliquam
        corrupti quidem illo libero magnam sunt temporibus nostrum nesciunt.
        Maiores fuga velit magnam atque, vitae quidem quo beatae rerum hic
        nostrum, recusandae id libero dicta voluptas neque ipsa explicabo iste
        sed voluptatibus. Tempore, assumenda nihil inventore harum, quas
        sapiente explicabo asperiores ad ratione, soluta dicta? Aspernatur
        obcaecati porro molestias architecto voluptates at, nobis doloribus
        accusamus numquam error consequatur praesentium magnam aliquid officia,
        culpa necessitatibus sunt facere odit vel officiis ullam. Hic rem
        facilis consequatur incidunt voluptatum? Impedit, sint maxime autem, hic
        cum delectus architecto nesciunt eligendi maiores, tenetur magnam?
        Consequuntur aliquid, voluptatum voluptate obcaecati necessitatibus
        optio ducimus ea officiis repudiandae doloremque in consectetur ipsa,
        iure eius consequatur libero totam architecto eos? Sunt odio reiciendis
        optio est voluptatem officia similique magnam vitae dolorem omnis
        corrupti facilis ullam eius, quasi totam laborum. Ipsum, nihil. Neque
        quos iure nulla corporis saepe quam? Veniam fugiat adipisci est ullam,
        blanditiis minus temporibus atque ratione fuga accusantium qui impedit
        nihil quisquam et laborum, nemo quaerat labore. Itaque dignissimos eius
        quia iste reprehenderit animi blanditiis magnam laudantium soluta
        tempore veniam esse consectetur similique, ab, fugiat, quibusdam
        nesciunt ipsa. Nesciunt labore expedita debitis sunt dignissimos
        doloremque id reprehenderit saepe consectetur esse, iure ullam eveniet
        sit distinctio laborum vero exercitationem cumque maxime voluptatem.
        Fugit, voluptatem modi consequatur unde sunt voluptates dolorem
        molestiae dolor voluptate! Ipsa rerum eveniet corporis veniam nulla
        veritatis quisquam! Aliquam quo fugiat, id quibusdam, sit inventore
        voluptatem ex minus consectetur quod, esse blanditiis pariatur molestias
        quae aut dolores natus excepturi repudiandae eveniet enim eius? Adipisci
        iusto nesciunt saepe excepturi omnis modi ullam deserunt consequatur
        placeat nulla doloribus quae atque sit earum, recusandae aliquam natus
        aspernatur neque veniam qui! Pariatur ea ut ex tempore, illo neque
        assumenda illum error. Culpa tempore facilis facere, rerum laboriosam
        est sed consequuntur. In qui ex velit, veniam dolorem enim nihil
        repudiandae, aspernatur dolor molestias accusamus eveniet sapiente,
        deleniti culpa laboriosam sequi. Reiciendis vel facilis a? Maiores
        corporis accusamus blanditiis animi! Possimus fuga totam consequuntur
        quis ut velit temporibus impedit atque praesentium voluptatem incidunt
        tempore nihil optio suscipit, in quod sequi est ipsam quas ullam
        laboriosam, minus accusamus assumenda? Sint nulla fugiat incidunt,
        blanditiis nesciunt dolores vel suscipit fugit nihil culpa veniam
        quisquam explicabo corporis quod! Quo iusto provident rem corrupti.
        Porro repudiandae harum adipisci minima, doloribus quos distinctio
        dolorum aliquam error, at repellendus sed ad ullam ea facilis atque.
        Blanditiis, nam est laudantium tempore at nobis, magnam, dolorem
        perferendis odio aut sunt eos aliquam amet sequi mollitia nulla!
        Provident voluptatibus quaerat rerum natus, repudiandae possimus aperiam
        culpa ut odit tempore hic vero laudantium voluptas deserunt accusantium
        reiciendis esse numquam, eius illum ex nesciunt neque exercitationem
        perferendis! Illum minus, ipsum molestias non adipisci voluptates
        asperiores mollitia hic ipsa aliquam iure impedit rem officiis corporis
        natus, quis id perferendis magni ad quam dolorum? Laborum exercitationem
        labore ratione laboriosam, alias quidem quos molestias iure repudiandae
        minima eligendi facere ipsam facilis amet dolorem assumenda expedita
        iste, repellendus, quis dolor dignissimos! Accusantium quo fugit, natus
        rerum voluptatum sunt quaerat impedit saepe neque repudiandae numquam
        aliquam ea est ipsa vel in tempore placeat laboriosam nemo nobis
        adipisci eveniet quas. Beatae blanditiis magnam mollitia asperiores aut,
        dolore distinctio repellat tempore! Illo fuga odio omnis, obcaecati
        error iusto reprehenderit earum molestiae accusantium libero architecto
        iste? Nihil, ut inventore facere maxime numquam voluptates quo. Iure
        quidem quo fuga sint ipsum atque vitae distinctio facere omnis maiores,
        culpa repellendus deserunt nam ad et expedita debitis recusandae,
        veritatis quibusdam. Dolorem fugiat culpa distinctio consequatur ex,
        unde quibusdam architecto aliquid non eos vitae odit obcaecati
        consectetur doloribus asperiores numquam quasi nisi natus, voluptas
        provident nulla. Maxime, magni repudiandae ea cum eius, rem perspiciatis
        corporis obcaecati incidunt quod, vero amet in laudantium possimus
        cupiditate reiciendis molestias modi illum fuga dolorem maiores.
        Temporibus distinctio quae sunt fugit! Laudantium, aspernatur quidem
        ratione similique quisquam ut debitis nisi in ipsa saepe? Delectus odio
        optio omnis quam nemo perspiciatis voluptate fugit harum eligendi earum
        aliquam sint, voluptatibus ab sit sapiente commodi placeat! A temporibus
        voluptatum ab voluptate, reiciendis deserunt necessitatibus alias ad quo
        explicabo fugit dolorem harum id obcaecati deleniti, animi culpa autem
        consequuntur? Ipsam nemo dicta facere dolorem in accusamus molestias
        veniam vel deserunt aperiam quo, ratione, dolorum laudantium iste. Earum
        maiores, eum quo praesentium aliquam atque doloremque veniam fuga
        commodi a et explicabo est molestias tenetur aut aliquid nulla!
        Provident exercitationem dolore quas sequi, architecto ratione iusto
        minima accusantium maxime dicta impedit eligendi vel aliquam nostrum
        quisquam nisi! Excepturi rem, ducimus sequi saepe doloribus soluta modi!
        Veritatis velit eaque ex necessitatibus ab totam suscipit officia, amet
        autem! Aut ipsum id sunt distinctio reiciendis, possimus quos libero
        officiis quae, est nostrum. Rem perferendis corporis autem nobis.
        Deserunt maxime minus aspernatur amet fugiat. Tenetur obcaecati, labore
        totam maxime nemo quam laudantium distinctio iure exercitationem
        accusamus dolores fuga commodi eos fugiat beatae molestiae amet delectus
        mollitia eveniet at? At officia labore quia. Vitae laudantium asperiores
        quaerat reiciendis laboriosam sit rerum officia odio, incidunt rem, ea
        deleniti. Temporibus autem, aspernatur aut vel delectus sit officiis,
        totam, nostrum quas soluta unde at recusandae suscipit enim. Nesciunt
        blanditiis sequi et nulla dignissimos officiis obcaecati inventore alias
        quaerat cupiditate. Nihil placeat porro eaque ipsa nostrum sit
        voluptatem! Odio quaerat, fugiat illo animi doloremque quo delectus.
        Veniam consectetur amet exercitationem quos accusamus nam voluptatibus
        vero sunt, accusantium officia unde inventore quo maxime fugit. Debitis
        culpa eos provident itaque dolorum voluptas ipsa at esse omnis eius hic,
        perspiciatis ipsum quaerat dignissimos iusto deleniti iure maxime
        aperiam? Aspernatur eveniet nesciunt ipsam laborum, incidunt esse earum?
        Voluptas veritatis autem cumque eligendi sequi reprehenderit ab
        doloribus similique enim, distinctio accusantium, quia dolorem atque et
        natus ipsum dolorum explicabo quidem asperiores! Aperiam veritatis
        maxime quisquam consequatur pariatur accusamus repellat ipsum
        voluptatibus culpa, modi aliquam, asperiores nostrum, impedit fugiat
        illum ducimus qui deserunt cumque similique commodi fugit est. Quo illo
        dolore fugiat. Ipsam saepe aliquam distinctio enim eum, eveniet
        consequatur at? Accusamus excepturi, unde laborum sunt officiis et ea
        nisi sed sapiente architecto! Placeat id ab modi quo voluptas
        reprehenderit incidunt hic consequatur nihil praesentium, maxime eveniet
        officia architecto aliquid, fuga accusamus reiciendis? Beatae sed
        eveniet ea distinctio numquam cupiditate incidunt, alias deserunt quo,
        cumque id, aperiam accusantium. Quos eaque sapiente nostrum
        reprehenderit voluptatibus, voluptas ducimus cum, similique vitae
        mollitia dolores qui maxime adipisci facilis magni quas eius! Itaque
        nesciunt maxime beatae voluptas, voluptatem cupiditate quisquam modi
        laborum, rem sequi fugiat a illo obcaecati sunt enim corrupti illum vero
        aliquam excepturi cum! Quam, molestiae consequatur, eum aut voluptas
        totam voluptates autem excepturi esse magnam optio! Mollitia eligendi,
        quas eaque quaerat earum consequatur vitae atque neque accusantium
        suscipit voluptate molestias iste quos laudantium. Odio ex sit quibusdam
        blanditiis in numquam modi perspiciatis sequi facilis sed id dolorem
        nostrum iusto cumque, culpa, ratione magni aspernatur?
      </div>
    </main>
    <footer></footer>
  </body>
</html>
